@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/* home css started  */
.Navbar{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Navlogo {
  height: 100%;
  display: flex;
  align-items: center;
}
.Navlogo img {
  width: 60px;
}
.navLinks{
  display: flex;
  gap: 3vw;
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #5f5f5f;
  align-items: center;
}
.navLinks i {
  font-size: 19px;
}
.singinOfHomeNav{
  padding: 10px;
  background-color: #00AEEF;
  color: #FFF;
  height: 48px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.menuBtn{
  display: none;
}
.userIcon{
  display: none;
}
/* hedaer two postion css  */


/* home css started  */

.home{
  height: 65vh;
  width: 100%;
  display: flex;
}
.homeleft , .homeright {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.homeright img {
  border-radius: 10px;
}
.homeright {
  display: flex;
  justify-content: end;
}
.homeleft .box {
  display: flex;
  flex-direction: column;
  
}
.homeTitle{
  font-size: 50px;
  color: #000000;
  margin-bottom: 40px;
  font-weight: 600;
}
.homeDips{
  font-size: 18px;
  background-color: #ee74a360;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  padding-right: 100px;
  border-radius:8px;
  width: 75%;
}
.searchBox{
  width: 100%;
  height: 90px;
  border: 1px solid #bdbdbd;
  align-items: center;
  padding: 0px 0px 0px 10px;
  color: #6b6b6b;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  margin-top: 40px;
  overflow: hidden;
}
.searchIconAndBtn{
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
}
.btn{
  height: 100%;
  background-color: #00AEEF;
  color: #fff;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}
.searchIconOfPlaceholderBox{
  color:#00AEEF ;
  font-size: 22px;
  margin-right: 20px;
}
/* prasence card  */
.WrapperDiv{
  width: 125px;
  height: 160px;
  display: flex;
  overflow: auto;
  border: 1px solid #dadada;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.hoverMain{
  display: flex;
  transition: 0.3s;
}
.first , .second {
  width: 130px;
  height: 160px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.first img {
  width: 60%;
  object-fit: contain;
}

.WrapperDiv:hover .hoverMain {
  transform: translateX(-50%);
  
}
.WrapperDiv:hover .cityNameofCard{
  color: #fff;
  text-shadow: 0px 0px 10px #00000028;
}
.cityNameofCard{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 30%;
  margin-bottom: 10%;
  color: #797979;
  font-weight: 600;
  transition: 0.3s;
 
}
.prasenceWrapper{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.prasenceWrapper::-webkit-scrollbar {
  display: none;
}
.gurugram{
  margin-left: 13%;
}
.greaterNoida{
  margin-left: 5%;
}

.first , .second {
  overflow: hidden;
}
/* hero section start  */
.sectionOne {
  height: 50vh;
  padding: 2vh 0;
  width: 100%;
  margin-top: 20px;
  display: flex;

}
.sectionOneLeft ,.sectionOneRight {
  height: 100%;
  width: 50%;
  position: relative;
}
.ploygon{
  height: 100%;
  width: 80%;
  background-color: lightblue;
  
}
.polygonShape {
  clip-path: polygon(0% 0%, 100% 15%, 100% 90%, 0% 100%);
}
.sectionOneLeft img {
  width: 70%;
  position: absolute;
  z-index: 9;
  
  bottom: 4%;
  transform: rotate(-3deg);
}
.sectionTitle {
  font-weight: 500;
  text-transform: capitalize;
  color: #6b6b6b;
}
.MainPoint{
  font-size: 55px;
  font-weight: 200;
}
.sectionOneRight{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* hero two  */
.sectionTwo{
  height: 50vh;
  padding: 2vh 0;
  display: flex;

}
.sectionTwoRight,.sectionTwoLeft {
  height: 100%;
  width: 50%;
}
.sectionTwoRight .ploygon{
  background-color: #FED3E3;
}
.polygonShapeTwo {
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90% );
}
.sectionTwoRight {
  position: relative;

}
.sectionTwoRight img {
  position: absolute;
  height: 100%;
}
.sectionTwoLeft{
  display: flex;
  align-items: center;
}
.sectionTwoRight{
  display: flex;
  justify-content: end;
}
.section3rdImg{
  left: -10%;
  height: 90%;
  object-fit: contain;
  margin-bottom: -3%;
}
.sectionOne .sectionOneRight , .sectionTwo .box {
  text-align: center;
}
/* show case section  */
.ShowCase{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.showCaseTitle{
  font-size: 60px;
  font-weight: 300;
  color: #505050;
  text-align: center;
}
.data{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 470px;
}
.numberBox {
  text-align: center;
}
.numberBox span {
  font-size: 65px;
  font-weight: 300;
}
/* make memory  */
.makeMemory{
  height: 65vh;
}
.polygonForMemory{
  height: 100%;
  width: 100%;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
  background-color: #00afef57;
}
.polygonForMemory{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.polygonForMemory img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.polygonForMemory .box {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}
.polygonForMemory .box h3 {
  font-size: 45px;
  font-weight: 400;
  line-height: 80px;
}
.polygonForMemory .box h4 {
  font-size: 109px;
  font-weight: 300;
  line-height: 80px;
}
.polygonForMemory .box .btn {
  width: 222px;
  height: 70px;
  margin-top: 40px;
  font-size: 25px;
  border-radius: 10px;
  font-weight: 500;
}

/* feedback section  */
.feedbackSection{
  height: auto;

}
.feedbackTitle{
  font-size: 65px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
}
.allREeviews{
  width: 80%;
  margin: 0 auto;
}
.feedbackContent{
  width: 430px;
  clip-path: polygon(0% 0%, 100% 5%, 100% 90%, 0% 100%);
  padding: 20px;
 
}
.FeedBackrow{
  width: 100%;
}
.FeedBackrowTwo{
  justify-content: end;
  width: 100%;
  display: flex;
}
.firstPoibt{
  font-size: 40px;
}
.feedbackText {
  font-size: 20px;
}
.smallText{
  text-align: end;
}
.one {
  color: #fbb65cd5;
  font-size: 34px;
}
.two{
  color: #ff87b3d8;
  font-size: 34px;
}
.three {
  color: #54afb5d0;
  font-size: 34px;
}
.forth{
  color: #5CCEF9;
  font-size: 34px;
}
.fifth {
  color: #AC8FEC;
  font-size: 34px;
}

.feedbackContentOne {
  border:5px solid #fbb65caf;
  
}
.feedbackContentTwo {
  border:5px solid #ff87b3bb;
  
}
.feedbackContentThree {
  border: 5px solid #54afb5b4;
  
}
.feedbackContentForth{
  border: 5px solid #5ccff9b4;
  
}
.feedbackContentFifth{
  border: 5px solid #ac8fecb7;
  
}
.mobileMenu{
  height: 30vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a7a7a7;
  gap: 10px;
  transition: 0.2s;
}

.navVisible {
  top: 10%;
}
.notVisible {
  margin-top: -80%;
}
.mobileMenu h2 {
  font-size: 22px;
  font-weight: 400;
}
.mobileMenu a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  
}
.mobileMenu .btns {
  display: flex;
  width: 100%;
  padding: 0px 10px;
  gap: 10px;

}
.bgPrimery,.addProperty {
  width: 45%;
  border: none;
  font-size: 12px;
}
.bgPrimery {
  background-color: #00AEEF;
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* form  */
.pgFinderForm {
  height: 100vh;
  width: 60%;
  background-color: #ffffff;
  position: fixed;
  overflow: scroll;
  left: 0;
  top: 0;
  z-index: 99;
  transition: 0.3s;
  padding: 35px;
}
.pgFinderFormVisible {
  margin-left: 0%;
}
.pgFinderFormInvisble {
  margin-left: -100%;
}


 .findpgformTitle{
  font-size: 28px;
  font-weight: 400;
 }
.coliving{
  padding: 5px;
  background-color: #00AEEF;
  color: #fff;
  border-radius: 50%;
}
.colivingBTn{
  background-color: #00afef4f;
  padding: 20px;
  width: 250px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  margin-top: 20px;
}
.inputTitle{
  font-size: 16px;
  font-weight: 400;
}
.pgFinderForm input {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #00000046;
  margin-top: 20px;
  padding: 15px;
}
.inputBox{
  margin-top: 20px;
}
.pgFinderForm input:focus {
  outline: 1px solid #00afef62;
  padding: 0px 10px;
}
.lbtn{
  padding: 10px;
  background-color: #e2e2e283;
  cursor: pointer;
}
.allLocations{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.pgFindSubmitBtn{
  width: 160px;
  height: 60px;
  background-color: #00AEEF;
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.pgFindFormClose{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 25px;
  cursor: pointer;
}
/* noida all pg  */
.NoidaAllPgMain{
  height: 100vh;

}
.filterSide{
  height: 100%;
  width: 22%;
  padding-top: 8%;
}
.filterWrapper{
  height: 95%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #00000021;
  overflow: scroll;
  overflow-x: hidden;
}
.filterNavbar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 20px;
}
.filterNavTitle{
  font-size: 25px ;
  color: #242424;
  font-weight: 600;
}
.ClearfilterBtn{
  height: 35px;
  width: 110px;
  font-size: 15px;
  font-weight: 500;
  color: #00AEEF;
  border: 1px solid #00AEEF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.filterTypeTitle{
  font-size: 16px;
  font-weight: 500;
}
.filterBox{
  
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; 
  border-bottom: 1px solid #d1d1d1;
}
.filterTypeTitle{
  font-size: 20px;
  color: #333333;
}
.inputWrapper{
  display: flex;
  gap: 15px ;
  font-size: 17px;
  color: #363636;
  margin-top: 15px;

}
.inputWrapper input {
 height: 25px;
 width: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.priceRange {
  height: 200px;
  display: flex;
flex-direction: column;
align-items: center;
}
.priceRange{
  display: flex;
  align-content: center;
  justify-content: center;
}
.rangeValue{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.range{
  width: 80%;
  margin-top: 10px;
  cursor: pointer;
  
}
.firstValue , .lasValue {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #494949;
  border-radius: 8px;
  cursor: pointer;
}
.NoidaAllPgMain{
  display: flex;
}
.pgCardSide{
  display: flex;
  padding-top: 10%;
  width: 78%;
  overflow: scroll;

}
.PgCard{
 
  position: relative;
}

.pgCardSide::-webkit-scrollbar {
  display: none;
}
.noidaAllPgHeading{
  font-size: 26px;
  font-weight: 400;
}
.quickLinks a{
  text-decoration: none;
}
.quickLinks{
  font-size: 14px;
  margin-bottom: 10px;
}
.headingRow{
  padding: 20px;
  padding-top: 0px;
}
/* card design  */
.PgCard{
  height: 475px;
  width: 305px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 5px #0000004b;
  
}
.allPgCards{
  padding: 20px;
}
.pgcardMainimg {
  height: 305px;
  width: 100%;
  background-color: #d8d8d8;
}
.pgcardMainimg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cardTitle{
  padding: 15px;
  height: 85px;
  border-bottom: 1px solid #b9b9b9;
}
.cardTitle h4 {
  font-size: 19px;
  font-weight: 500;
}
.cardTitle p {
  font-size: 14px;
  margin-top: 2px;
}
.price-discount{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
}
.startsIn{
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}
.priceVal{
  font-size: 19px;
}
.discount{
  padding: 10px;
  background-color: #00f0a883;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  border-radius: 8px;
}
.pgcardMainimg{
  position: relative;
}
.pgCardImgController{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}
.allPgCards{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
a {
  text-decoration: none;
  color: #000000;
}
.filterIconBox{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
  z-index: 9;
  background-color: #00AEEF;
  color: #fff;
  border-radius: 8px;
  margin: 15px;
  display: none;
  font-size: 14px;
}
.filterIconBox i {
  font-size: 17px;
}

.closeFilter{
  display: none;
}

/* get a call  */
.getAcallTitle{
 font-weight: 500;
 font-size: 25px;
}
.getAcALLVisible {
  height: 100vh;
  width: 35%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 5px #0000007c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  margin-right: 0%;
  right: 0;
}
.getAcALLInVisible {
  height: 100vh;
  width: 35%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 5px #0000007c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  right: 0;
  margin-right: -100%;
}
.getAcALL form {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.getAcALL form input {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #cacaca;
  font-size: 16px;
  padding: 0px 10px;
}
.getAcALL form select {
  height: 60px;
  width: 100%;
  appearance: none;
  font-size: 16px;
  padding: 0px 10px;
  border-radius: 8px;
}

.getAcALL form input[type="submit"] {
  height: 60px;
  width: 150px;
  background-color: #00AEEF;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  border: none;
}

.getCallFormCloseIcon{
  font-size: 20px;
  color: #00AEEF;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}
.spacialOffer{
  position: relative;
}
.spacialOffer::after {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff0000;
  content: 'New';
  position: absolute;
  font-size: 7px;
  color: #fff;
  top: 0;
  margin-top: -20%;
  margin-right: -15%;
  box-shadow: 0px 0px 10px #ff0000;
  right: 0;
  animation: offerAnimation 1s infinite alternate ;
  transition: 1s ease-in-out;
}









































.pgMain{
  height: inherit;
  width: 100%;
  display: flex;
  padding: 0px 80px;
  padding-top: 80px;
}
.container {
  height: 100vh;
  width: 100%;
  padding: 0px 80px;
}

.left  {
  height: 100%;
  width: 55%;
}
.right{
  width: 45%;
  height: 100% !important;
}
.pgHeader{

  width: 100%;
  display: flex;
  justify-content: space-between;
}
.PgName{
  font-size: 30px;
  font-weight: 500;
}
.pgLocation{
  font-size: 14px;
  color: rgb(27, 27, 27);
}
.locationBtn{
  font-size: 16px;
  padding: 15px;
  border: 1px solid #00AEEF;
  color: #00AEEF;
  border-radius: 10px;
  text-decoration: none !important;
}

.pgHeaderRight{
  display: flex;
  height: 100%;
  align-items: end;
}
.pgImageContainer{
  width: 100%;
  height: 650px;
  background-color: #ececec;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.linksContainer{
  display: flex;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  gap: 5px;
  margin-top: 30px;
}
.activeLink {
  color: #00AEEF;
  cursor: pointer;
}
.aboutPg{
  margin-top: 40px;
}
span {
  color: #00AEEF;
}
.aboutPgtTitle, .roomDtlsTitle, .foodMenuTitle, .amentiesTitle, .nearByTitle{
  font-weight: 400;
  font-size: 30px;
}
.nearByTitle{
  margin-top: 20px;
}
.AboutPgDips{
  font-size: 14px;
  margin-top: 10px;
}
.roomDtlsTitle{
  margin-top: 50px;
}
.roomDtlsDips{
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.singleSharing , .doubleSharing, .TripleSharing {
  height: 120px;
  width: 212px;
  background-color: #ececec;
  clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100% );
  display: flex;
  flex-direction: column;
 padding-left: 20px;
  justify-content: center;
  border-radius: 10px;
}
.singleSharing:hover {
  background-color: #00afef36;
}
.doubleSharing:hover {
  background-color:#00afef36 ;
}
.roomRent{

  overflow: scroll;
}
.roomRent::-webkit-scrollbar {
  display: none;
}
.roomRendWrapper{
  width: 200%;
  display: flex;
  gap: 30px;
}
.roomRendWrapper::-webkit-scrollbar {
  display: none;
}
.roomType{
  font-size: 13px;
  color: #141414;
  font-weight: 400;
}
.startsFrom{
  font-size: 10px;
  color: #7a7a7a;
  font-weight: 500;
}
.price{
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}
.month {
  font-size: 12px;
  font-weight: 400;
}
.wallet{
  font-size: 21px;
  gap: 10px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 70px;
  font-weight: 400;
  width: 100%;
  background-color: #00afef4b;
  border-radius: 10px;
  padding-left: 10px;
  color: #333333;
}
.foodMenuSemiTile {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  margin-top: 10px;
}

.foodMenuDips, .foodMenuDipsTwo {
  font-size: 14px;
  color: #333333;
  margin-top: 20px;
}
.foodMenu{
  margin-top: 30px;
}
.Amenties{
  margin-top: 50px;
  width: 100%;
  height: 400px;
}
.amentiesTitle{
  margin-bottom: 30px;
}
.allAmenties{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.Facelity {
  height: 30px;
  width: 170px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.AmentiName{
  font-size: 16px;
  font-weight: 500;
  color: #272727;
}
.AmentiImg{
  width: 37px;
}
.map{
  height: 300px;
  width: 100%;
}
.map iframe {
  height: 100%;
  width: 100%;
  border: none;
}
.locationWrapper{
  height: 200px;
  min-width: 100%;
  width: auto;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.nearBy{
  margin-top: 30px;
}
.location{
  height: 140px;
  width: 200px;
  background-color: #f1f1f1;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
.nearbyDips{
  font-size: 14px;
  color: #353535;
  margin-bottom: 30px;
    
}
.right{
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}
.formDetailsUpper{
  padding: 25px;
}


.BookignDtlsTitlw{
  font-size:19px ;
  font-weight: 500;
  color: #333333;
}
.bookignDtls{
  box-shadow: 0px 0px 10px #7a7a7a60;
  position: relative;
}
.fixed{
  margin-left: 5%;
  margin-top: 2%;
  position: fixed;
  width: 37%;
  height: 780px;
  width: 37%;
  position: fixed;
  border-radius: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.absolute {
  margin-left: 10%;
  position: absolute;  
  height: 800px;
  width: 90%;
  position: absolute;
  border-radius: 15px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; 
  top: 1900px;
}


.propertyImages{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.sharingOption{
  display: flex;
  gap: 10px;
  padding-top: 10px;
}
.single, .double {
  padding: 15px ;
  background-color: #ececec;
  border-radius: 10px;
  cursor: pointer;
}
.activeBtn {
  background-color: #00afef56;

}
.policyTitle{
  font-size: 18px;
  color: #444444;
  margin-top: 10px;
}
.lightAndItalic{
  color: #7a7a7a;
  font-size: 15px;
}
.roomSharigDetails{
  height: 60px;
  border: 1px solid #dddddd;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  animation: inputBoxAnimation 0.2s ;
}
@keyframes inputBoxAnimation {
  0% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

.roomQuilty{
  display: flex;
  gap: 10px;
  height: 100%;
  align-items: center;
}
.roomQuilty input {
  height: 20px;
  width: 20px;
}
.rent{
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.scheduleBtns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.visit, .confirm {
  height: 60px;
  cursor: pointer;
  width: 49%;
  border: 1px solid #00AEEF;
  background-color: #00AEEF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border-radius: 10px;
  
}
.visit{
  color: #00AEEF;
  background-color: #FFF;
}
.formNum{
  background-color: #00afef5b;
  width: 100%;
  height: 60px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* imgCtrl  */
.imgCtrl {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.prev, .next {
  clip-path: polygon(0% 0%, 100% 5%, 100% 95%, 0% 100% );
  color: #FFF;
  background-color: #353535cb;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}
.imageCircle{
  position: absolute;
  bottom: 5%;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;

}
.circle{
  height: 8px;
  width: 8px;
  background-color: #FFF;
  border-radius: 50%;
  transition: 0.3s;
}
.active {
  background-color: #00AEEF;
  scale: 1.5;
}
.btnsForMobile{
  display: none;
}
.usisex{
  font-size: 12px;
  background-color: #76ecc9;

  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;

  width: 70px;
  margin-left: 0px;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90% , 0% 100%);
  text-align: center;
}

.locationSemiWrapper {
  width: 200%;
  display: flex;
  overflow: auto;
  gap: 20px;
}
/* header two css  */
.headerTwo{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px #00000059;
  z-index: 8;
  background-color: #FFF;
  padding: 0px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerTwoLogo{
  display: flex;
  height: 100%;
  align-items: center;
}
.headerTwoLogo img{
  width: 65px;
  cursor: pointer;
}
.CityListBtn{
  height: 60%;
  width: 200px;
  background-color: #00afef33;
  color: #444444;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding:0px  20px;
  outline: none;
  cursor: pointer;
}
.CityListBtn option {
  background-color: #FFF;
  border: none;
  height: 600px;
  font-size: 15px;
}
.CityListBtn option:hover {
  background-color: #FFF;
}
.optionsAndSearchWrapper{
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.searchbox{
  height: 60%;
  width: 500px;
  background-color: #eeeeeed0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #8f8f8f;
  gap: 10px;
}
.signInBtn {
  height: 60%;
  width: 120px;
  background-color: #00AEEF;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.forLargeScreen{
  display: flex;
}
.forMobileScreen{
  display: none;
}
.headerTwoLoginIcon{
  display: none;
}
.signUpIonOnMobile{
  display: none;
}
.searachBoxOnMobile{
  display: none;
}
.singinOfHomeNav{
  padding: 5px;
}
/* footer  */
.footer{
  height: 50vh;
  background-color: #00afef98;
}
.footerParts {
  justify-content: start;
}
.semiFooter{
  height: 40vh;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.semiFooter{
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
}
.linkTitle{
  font-size: 20px;
  font-weight: 500;
}
.footerLinks{
  font-size: 13px;
  margin: 5px 0px;
  cursor: pointer;
}
.getcallsubmitbtn{
  background-color: #00AEEF;
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
  border: none;
  margin-top: 20px;
}
.spacilaOFferbtnforMobile{
  display: none;
}

/* footer  */
.footer{
  display: flex;
  justify-content: center;
  background-color: transparent;
  height: 45vh;
}
.footerParts{
  width: 24%;
  height: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.footerLogo img {
  width: 100px;
}
.footer::after {
  height: 45vh;
  width: 100%;
  background-color:#00afef44 ;
  position: absolute;
  content: '';
  z-index: -1;
}
.footericons{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footericons i {
  font-size: 25px;
  background-color: #000000;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.footerDips{
  margin-top: 20px;
}
.footerLinkTitleAndLink h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footerLinkTitleAndLink ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLastScTitle h4 {
  font-size: 18px;
  font-weight: 500;
}
.footerLastBox{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.footerLastBox i {
  font-size: 25px;
}

/* .spacialOffer  */
.spacialOfferWrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #00000049;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offterBox{
  width: 60%;

  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}
.offer{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.termsCondition{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  list-style: circle;
}
.offertitle h3 {
  font-weight: 500;
}
.offerdips{
  font-size: 14px;
}
.termsCondition span {
  font-size: 13px;
}
.termsCondition li {
  font-size:13px ;
}
.spacialOfferWrapperVisible {
  display: flex;
}
.spacialOfferWrapperInVisible {
  display: none;
}
.offterPopUpCloseBtn{
position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.termsCondition{
  height: 15px;
  overflow: hidden;
  cursor: pointer;
}
.termsConditionVisible {
  height: inherit;
}
.offerApplay{
  width: 100px;
  height: 30px;
  background-color: #00AEEF;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}
.saveAmoutn{
  color: #10c200;
  font-size: 12px;
  font-weight: 400;
}
.inputTitle{
  font-size: 14px;
}
.loadingDiv{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000a9;
  height: 100vh;
  width: 100%;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center ;
}
.loadingDiv img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.allProperties{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}




